<html>
  <head>
    <script src="./js/leaflet.js"></script>
    <script src="./js/jquery-2.0.3.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->

    <style type="text/css">
      #bus-layout { display: none; }
      #map { height: 100%; width: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="bus-layout">
       <!-- bus layout goes here -->

